# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


# Ignore Docker files
enviroment/docker

# Ignore Intellij files
/dev-environment.iml
/dev-environment.ipr
/dev-environment.iws
/.idea/dataSources/
/.idea/dataSources.local.xml
/.idea/misc.xml
/.idea/dev-environment.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/encodings.xml
/.idea/gradle.xml

