# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Intellij files
.idea

# Ignore Docker files
docker
/dev-environment.iml
/dev-environment.ipr
/dev-environment.iws
